<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esgproject.daaang_univ.dao.DmunityDAO">

    <select id="findById" resultType="com.esgproject.daaang_univ.dto.DmunityDTO">
        SELECT * FROM DMUNITY WHERE dmunityNo = #{dmunityNo}
    </select>
    <select id="findAll" resultType="com.esgproject.daaang_univ.dto.DmunityDTO">
        SELECT * FROM DMUNITY
        ORDER BY dmunityDate DESC
    </select>

    <insert id="writeDmunity" parameterType="com.esgproject.daaang_univ.dto.DmunityDTO">
        INSERT INTO dmunity ( userid, dmunityCategory, dmunityTitle, dmunityText, dmunityDate)
        VALUES ( #{userid}, #{dmunityCategory}, #{dmunityTitle}, #{dmunityText}, now())
    </insert>

    <update id="editDmunity" parameterType="com.esgproject.daaang_univ.dto.DmunityDTO">
        UPDATE dmunity
        SET dmunityCategory = #{dmunityCategory},
        dmunityTitle = #{dmunityTitle},
        dmunityText = #{dmunityText},
        dmunityEditDate = NOW()
        WHERE dmunityNo = #{dmunityNo}
    </update>

    <delete id="deleteDmunity" parameterType="com.esgproject.daaang_univ.dto.DmunityDTO">
        DELETE FROM dmunity WHERE dmunityNo = #{dmunityNo}
    </delete>


</mapper>
